[Desktop Entry]
Type=Application
Terminal=true
Name=Click-Script
Icon=utilities-terminal
Exec=gnome-terminal -e "bash -c '/home/ettc/laucn_file/ros_start_ai_classification.sh;$SHELL'"
Categories=Application;

Name[en_US]=ros_classification_node.desktop
Name[zh_TW]=ros_classification_node
