[Desktop Entry]
Type=Application
Terminal=true
Name=Click-Script
Icon=utilities-terminal
Exec=gnome-terminal -e "bash -c '/home/ettc/Desktop/ssd/train.sh;$SHELL'"
Categories=Application;

Name[en_US]=train_detection.desktop
Name[zh_TW]=train_detection
